.container
  .card.mb-3
    .card-body
      -if user_signed_in? && current_user.task_has_written?(@task)
        .text-right
          .article_detail_actions
            .dropdown
              = image_tag 'actions.svg', class: 'dropbtn'
              .dropdown-content.mini
                = link_to 'Edit', edit_board_task_path(board_id: @board, id: @task)
                = link_to 'Delete', board_task_path(id: @task, board_id: @board), data: {method: 'delete', confirm: '本当に削除しても宜しいですか？' }  
      %h5.card-title
        = @task.title
      -if @task.eyecatch.attached?
        .card_img
          = image_tag @task.eyecatch, width: '100%', height: '100%'  
    .card-body
      %p.card-text 
        = @task.content
      .card_detail
        = image_tag @task.user.avatar_image 
      .card_heart    
        = image_tag 'Shape.png'
        %span= @task.comment_count   
.container    
  %h1 Comments

.container
  .card-task      
    - @comments.each do |comment|
      .card.bg-secondary.mb-3{:style => "max-width: 20rem;"}
        .card-body
          = comment.content
        .card_detail
          = image_tag comment.user.avatar_image  

.container      
  = link_to new_board_task_comment_path(board_id: @board, task_id: @task, id: @comment) do
    .card.border-info.mb-3{:style => "max-width: 20rem;"}
      .card-body
        ＋ Add New Comment
