.container
  %h1 ALL Boards
  = link_to new_board_path do
    .card.border-info.mb-3{:style => "max-width: 20rem;"}
      .card-body
        ＋ Add New Board
  - @boards.each do |board|
    .card.bg-secondary.mb-3{:style => "max-width: 20rem;"}
      .card-header 
      -if user_signed_in? && current_user.has_written?(board)
        .text-right
          .article_detail_actions
            .dropdown
              = image_tag 'actions.svg', class: 'dropbtn'
              .dropdown-content.mini
                = link_to 'Edit', edit_board_path(board)
                = link_to 'Delete',  board_path(board), data: {method: 'delete', confirm: '本当に削除しても宜しいですか？' }
      = link_to board_path(board) do            
        .card-body
          %h4.card-title 
            = truncate(board.title)
          %p.card-text 
            = truncate(board.content)  






