!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyTodoApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

  %body
    - if user_signed_in?
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light
        %a.navbar-brand{:href => "#"} Boards 
        %button.navbar-toggler{"aria-controls" => "navbarColor03", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarColor03", "data-toggle" => "collapse", :type => "button"}
          = image_tag 'Oval_avatar.png'
          %span.navbar-toggler-icon
        #navbarColor03.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
            %li.nav-item.active
              %a.nav-link{:href => "#"}
                Home
                %span.sr-only (current)
            %li.nav-item
              = link_to "Logout", destroy_user_session_path, data: { method: 'delete' }, class: "nav-link"
            %li.nav-item
              %a.nav-link{:href => "#"} Pricing
            %li.nav-item
              %a.nav-link{:href => "#"} About
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Dropdown
              .dropdown-menu
                %a.dropdown-item{:href => "#"} Action
                %a.dropdown-item{:href => "#"} Another action
                %a.dropdown-item{:href => "#"} Something else here
                .dropdown-divider
                %a.dropdown-item{:href => "#"} Separated link
          %form.form-inline.my-2.my-lg-0
            %input.form-control.mr-sm-2{:placeholder => "Search", :type => "text"}/
            %button.btn.btn-secondary.my-2.my-sm-0{:type => "submit"} Search
    - else 
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light
        %a.navbar-brand{:href => "#"} Boards   
        .text-right
          = button_to 'Login', new_user_session_path, class: "btn btn-primary"


      -# %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      -#   %a.navbar-brand{:href => "#"} Boards 
      -#   %button.navbar-toggler{"aria-controls" => "navbarColor03", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarColor03", "data-toggle" => "collapse", :type => "button"}
      -#     %span.navbar-toggler-icon
      -#   #navbarColor03.collapse.navbar-collapse
      -#     %ul.navbar-nav.mr-auto
      -#       %li.nav-item.active
      -#         %a.nav-link{:href => "#"}
      -#           Home
      -#           %span.sr-only (current)
      -#       %li.nav-item
      -#         = link_to 'Login', new_user_session_path, class: 'nav-link'
      -#       %li.nav-item
      -#         %a.nav-link{:href => "#"} Pricing
      -#       %li.nav-item
      -#         %a.nav-link{:href => "#"} About
      -#       %li.nav-item.dropdown
      -#         %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Dropdown
      -#         .dropdown-menu
      -#           %a.dropdown-item{:href => "#"} Action
      -#           %a.dropdown-item{:href => "#"} Another action
      -#           %a.dropdown-item{:href => "#"} Something else here
      -#           .dropdown-divider
      -#           %a.dropdown-item{:href => "#"} Separated link
      -#     %form.form-inline.my-2.my-lg-0
      -#       %input.form-control.mr-sm-2{:placeholder => "Search", :type => "text"}/
      -#       %button.btn.btn-secondary.my-2.my-sm-0{:type => "submit"} Search
    -# %header.header
    -#   .header_logos
    -#     %p.header_pageTitle 
    -#       Boards
    -#   - if user_signed_in?
    -#     .dropdown
    -#       = image_tag 'Oval_avatar.png', class: 'header_avatar dropbtn'
    -#       .dropdown-content
    -#         = link_to 'プロフィール'
    -#         = link_to 'お気に入り'
    -#         = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }
    -#   - else 
    -#     = link_to 'ログイン', new_user_session_path, class: 'header_loginBtn'    
    %p.notice= notice
    %p.alert= alert

    = yield
